
body {
  font-family: Open Sans, serif;
  color: DarkBlue;
  margin: 10px 50px;
  background-color: ivory;
}

h1, h2 {
  font-family: Oswald, serif;
}

img {
  float: left;
}

.columns {
  column-count: 3;
  column-width: 300px;
}

ol {
  column-count: 4;
  list-style-type: none;
}